<%@ CodeTemplate Language="C#" TargetLanguage="C#" Description="Generates a C# class for use with NHibnate" %>
<%@ Property Name="DomainName" Type="System.String" Default="Model" Category="Object" Description="Table that the mapping file is based on" %>
<%@ Property Name="DomainAttribute" Type="System.String" Default="编号:string:Id" Category="Object" Description="实体类属性(,号隔开多个属性,:隔开注释类型和名称)" %>
<%@ Property Name="DomainNamespace" Type="System.String" Default="yanzhilong" Category="Object" Description="The class namespace that the mapping file should use" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%
    List<string[]>attributes = new List<string[]>();
    foreach(string str in DomainAttribute.Split(',')){
        string[] aa = str.Split(':');
        attributes.Add(aa);
    }
%>
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace <%= DomainNamespace %>
{
    public class <%= DomainName %>
    {
        
       <% foreach (string[] strs in attributes) { %>
       /// <summary>
       /// <%= strs[0]%>
       /// </summary>
       public <%= strs[1]%> <%= strs[2]%> { get; set; }
       
    <% }%>

    }
}