@model TbPropertyCategoryModel
<div class="form-group">
    @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.Id, Model.TbPropertyCategoryItems, new { id = "tbpropertycategoryselect" })
        @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#tbpropertycategoryselect").select(function () {
            mTbPropertyCategorySelect();
        });
        mTbPropertyCategorySelect();
    });

    function mTbPropertyCategorySelect() {
        var TbPropertyCategoryId = $("#tbpropertycategoryselect").val();
        onTbPropertyCategorySelect(TbPropertyCategoryId);
    }
</script>
