@Styles.Render("~/bundles/editor/css")

<i class="fa fa-quote-left" name="quote" unselectable="on"></i>
<div id="EditorMd">
    <textarea class="editormd-markdown-textarea" name="test-editormd-markdown-doc"></textarea>
    <!-- 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 -->
    <textarea class="editormd-html-textarea" name="text"></textarea>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/editor/js")
<script type="text/javascript">
    var EditorMd;
    //var path = "@Server.MapPath("~/Content/editor.md-master/lib/")";
    $(function() {
        EditorMd = editormd("EditorMd", {
            width   : "90%",
            height  : 640,
            syncScrolling : "single",
            path    : "/Content/editor.md-master/lib/",
            saveHTMLToTextarea : true //让生成物的html代码放到第二个隐藏的文本域中
        });
    });
</script>

