<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" crsResource="Admin.Home" controller="Home" action="Overview">
    <siteMapNode SystemName="AdminIndex" crsResource="报修工作台" controller="Home" action="Index" IconClass="fa-desktop" />
    <siteMapNode SystemName="CustomerAndRole" crsResource="Admin.CustomerAndRoles" PermissionNames="ManageCustomers,ManageRoles" IconClass="fa-user" >
      <siteMapNode SystemName="Roles" crsResource="Admin.CustomerAndRoles.Role" PermissionNames="ManageRoles" controller="Role" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Customers" crsResource="Admin.CustomerAndRoles.Customer" PermissionNames="ManageCustomers" controller="Customer" action="List" IconClass="fa-dot-circle-o"/>     
    </siteMapNode>
    <siteMapNode SystemName="Organization" crsResource="Admin.Organization" PermissionNames="ManageOrganizations,CompanySetting" IconClass="fa-cubes" >
      <siteMapNode SystemName="Companys" crsResource="Admin.Organization.Companys" PermissionNames="ManageOrganizations" controller="Company" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="CompanyUser" crsResource="Admin.Organization.CompanyUser" PermissionNames="CompanySetting" controller="Company" action="UserList" IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="Project" crsResource="Admin.Project" PermissionNames="ManageProjects" IconClass="fa-cube" >
      <siteMapNode SystemName="Projects" crsResource="Admin.Project.Projects" PermissionNames="ManageProjects" controller="Project" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="NewProjects" crsResource="Admin.Project.AddProject" PermissionNames="ManageProjects" controller="Project" action="Create" IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="MerchandisesManage" crsResource="商品库存管理" PermissionNames="ManageProducts,ManageCategories,ManageAttributes" IconClass="fa-book" >
      <siteMapNode SystemName="ProductCategory" crsResource="分类管理" PermissionNames="ManageProducts" controller="ProductCategory" action="Index" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Product" crsResource="商品管理" PermissionNames="ManageCategories" controller="Product" action="Index" IconClass="fa-dot-circle-o"/>
      <!--<siteMapNode SystemName="LoanAndBack" crsResource="借出还回" PermissionNames="ManageCategories" controller="Merchandises" action="LoanAndBack" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="InventoryManage" crsResource="库存管理" PermissionNames="ManageCategories" controller="Merchandises" action="InventoryManage" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="InventoryLog" crsResource="操作记录" PermissionNames="ManageCategories" controller="Merchandises" action="InventoryLog" IconClass="fa-dot-circle-o"/>-->
    </siteMapNode>
    <siteMapNode SystemName="Maintenance" crsResource="报修模块" PermissionNames="PublicAllowCreateOrders" IconClass="fa-book" >
      <siteMapNode SystemName="Locations" crsResource="地址管理" PermissionNames="PublicAllowCreateOrders" controller="Location" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="RepairMerchandiseLocation" crsResource="设备管理" PermissionNames="PublicAllowCreateOrders" controller="DevicesPoint" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="ErrorDescription" crsResource="故障描述管理" PermissionNames="PublicAllowCreateOrders" controller="ErrorDescription" action="Index" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Repairs" crsResource="报修单管理" PermissionNames="PublicAllowCreateOrders" controller="Repairs" action="Index" IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="Patrol" crsResource="巡检模块" PermissionNames="ManageProducts,ManageCategories,ManageAttributes" IconClass="fa-book" >
      <siteMapNode SystemName="Inspection" crsResource="检查项目管理" PermissionNames="ManageProducts" controller="Inspection" action="Index" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Patrol" crsResource="巡检单管理" PermissionNames="ManageProducts" controller="Patrol" action="Index" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="PatrolExecute" crsResource="巡检列表" PermissionNames="ManageProducts" controller="PatrolExecute" action="Index" IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="Statistics" crsResource="统计报表" PermissionNames="ManageProducts,ManageCategories,ManageAttributes" IconClass="fa-book" >
      <siteMapNode SystemName="MainStatistice" crsResource="报修单统计" PermissionNames="ManageProducts" controller="Product" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="PatrolStatistice" crsResource="巡检单统计" PermissionNames="ManageCategories" controller="Category" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="SignStatistics" crsResource="打卡记录统计" PermissionNames="ManageCategories" controller="Category" action="List" IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="RepositoryManage" crsResource="知识库管理" PermissionNames="ManageProducts,ManageCategories,ManageAttributes" IconClass="fa-book" >
      <siteMapNode SystemName="Repository" crsResource="公共知识库" PermissionNames="ManageProducts" controller="Product" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="PrivateRepositry" crsResource="私有知识库" PermissionNames="ManageCategories" controller="Category" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="NewRepositry" crsResource="创建知识条目" PermissionNames="ManageCategories" controller="Category" action="List" IconClass="fa-dot-circle-o"/>
    </siteMapNode>

    <siteMapNode SystemName="Configuration" crsResource="Admin.Configuration" PermissionNames="ManageConfiguration,ManageScheduleTasks,ManageBaseData,ManagePermissionRecord,ManageLanguages,ManageLocations,ManageMessageTemplates,ManageSettings,ManageExternalAuthenticationMethods,ManageWidgets,ManageACL,ManageEmailAccounts,ManagePlugins"
        IconClass="fa-gears">
      <siteMapNode SystemName="Settings" crsResource="Admin.Configuration.Settings" PermissionNames="ManageSettings" IconClass="fa-dot-circle-o" >
        <siteMapNode SystemName="General settings" crsResource="Admin.Configuration.Settings.GeneralCommon" controller="Setting" action="GeneralCommon" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Customer and user settings" crsResource="Admin.Configuration.Settings.CustomerUser" controller="Setting" action="CustomerUser" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Media settings" crsResource="Admin.Configuration.Settings.Media" controller="Setting" action="Media" IconClass="fa-genderless"/>
        <siteMapNode SystemName="All settings" crsResource="Admin.Configuration.Settings.AllSettings" controller="Setting" action="AllSettings" IconClass="fa-genderless"/>
      </siteMapNode>
      <siteMapNode SystemName="BaseDatas" crsResource="Admin.Configuration.BaseData" PermissionNames="ManageBaseData" controller="Basedata" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="PermissionRecords" crsResource="Admin.Configuration.PermissionRecord" PermissionNames="ManagePermissionRecord" controller="PermissionRecord" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Languages" crsResource="Admin.Configuration.Languages" PermissionNames="ManageLanguages" controller="Language" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Email accounts" crsResource="Admin.Configuration.EmailAccounts" PermissionNames="ManageEmailAccounts" controller="EmailAccount" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Schedule tasks" crsResource="Admin.System.ScheduleTasks" PermissionNames="ManageScheduleTasks" controller="ScheduleTask" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Message templates" crsResource="Admin.ContentManagement.MessageTemplates" PermissionNames="ManageMessageTemplates" controller="MessageTemplate" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Local plugins" crsResource="Admin.Configuration.Plugins.Local" PermissionNames="ManagePlugins" controller="Plugin" action="List"   IconClass="fa-dot-circle-o"/>
    </siteMapNode>
  </siteMapNode>
  
</siteMap>

