<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" crsResource="Admin.Home" controller="Home" action="Overview">
    <siteMapNode SystemName="AdminIndex" crsResource="管理中心" controller="Home" action="Index" IconClass="fa-desktop" />
    <siteMapNode SystemName="RoleAndPermissionRecord" crsResource="角色与权限管理" PermissionNames="ManageCustomers,ManageRoles" IconClass="fa-user" >
      <siteMapNode SystemName="Role" crsResource="角色管理" PermissionNames="ManageRole" controller="Role" action="Index" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="PermissionRecord" crsResource="权限管理" PermissionNames="ManagePermissionRecord" controller="PermissionRecord" action="Index" IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="UserManage" crsResource="个人中心" PermissionNames="UserManage" IconClass="fa-book" >
      <siteMapNode SystemName="UserInfo" crsResource="帐户信息" PermissionNames="UserInfo" controller="User" action="Index" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="ModifyPassword" crsResource="修改密码" PermissionNames="ModifyPassword" controller="User" action="ModifyPassword" IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="ArticleManage" crsResource="文章模块" PermissionNames="ArticleManage" IconClass="fa-book" >
      <siteMapNode SystemName="Article" crsResource="文章管理" PermissionNames="Article" controller="Article" action="Index" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Category" crsResource="分类管理" PermissionNames="Category" controller="Category" action="Index" IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="ResourceManage" crsResource="资源模块" PermissionNames="ResourceManage" IconClass="fa-book" >
      <siteMapNode SystemName="UploadFile" crsResource="文件管理" PermissionNames="UploadFile" controller="File" action="Index" IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="SooXieManage" crsResource="搜鞋模块" PermissionNames="SooXieManage" IconClass="fa-book" >
      <siteMapNode SystemName="Shoe" crsResource="鞋子管理" PermissionNames="Shoe" controller="Shoe" action="Index" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="TbProperty" crsResource="淘宝属性" PermissionNames="TbProperty" controller="TbProperty" action="Index" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="TbPropertyCategory" crsResource="淘宝属性分类" PermissionNames="TbPropertyCategory" controller="TbPropertyCategory" action="Index" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="TbItem" crsResource="淘宝宝贝" PermissionNames="TbItem" controller="TbItem" action="Index" IconClass="fa-dot-circle-o"/>
    </siteMapNode>
  </siteMapNode>
</siteMap>

