<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" crsResource="Admin.Home" controller="Home" action="Overview">
    <siteMapNode SystemName="AdminIndex" crsResource="管理中心" controller="Home" action="Index" IconClass="fa-desktop" />
    <siteMapNode SystemName="RoleAndPermissionRecord" crsResource="角色与权限管理" PermissionNames="ManageRole,ManagePermissionRecord" IconClass="fa-user" >
      <siteMapNode SystemName="Role" crsResource="角色管理" PermissionNames="ManageRole" controller="Role" action="Index" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="PermissionRecord" crsResource="权限管理" PermissionNames="ManagePermissionRecord" controller="PermissionRecord" action="Index" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="UserManage" crsResource="用户管理" PermissionNames="ManageUser" controller="User" action="Index" IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="UserCenter" crsResource="个人中心" PermissionNames="ManageUserInfo,ModifyPassword" IconClass="fa-book" >
      <siteMapNode SystemName="UserInfo" crsResource="帐户信息" PermissionNames="ManageUserInfo" controller="User" action="Details" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="ModifyPassword" crsResource="修改密码" PermissionNames="ModifyPassword" controller="User" action="ModifyPassword" IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="ArticleManage" crsResource="文章模块" PermissionNames="ManageArticle,ManageCategory" IconClass="fa-book" >
      <siteMapNode SystemName="Article" crsResource="文章管理" PermissionNames="ManageArticle" controller="Article" action="Index" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Category" crsResource="分类管理" PermissionNames="ManageCategory" controller="Category" action="Index" IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="ResourceManage" crsResource="资源模块" PermissionNames="ManageResource" IconClass="fa-book" >
      <siteMapNode SystemName="UploadFile" crsResource="文件管理" PermissionNames="ManageResource" controller="File" action="Index" IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="SooXieManage" crsResource="搜鞋模块" PermissionNames="ManageShoe,ManageTbProperty,ManageTbPropertyCategory,ManageTbItem" IconClass="fa-book" >
      <siteMapNode SystemName="Shoe" crsResource="鞋子管理" PermissionNames="ManageShoe" controller="Shoe" action="Index" IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="JdManage" crsResource="京东模块" PermissionNames="ManageJdAuto,ManageJdItem,ManageItemTitle" IconClass="fa-book" >
      <siteMapNode SystemName="JdAuto" crsResource="京东填单" PermissionNames="ManageJdAuto" controller="JdAuto" action="Index" IconClass="fa-dot-circle-o"/>
    </siteMapNode>
  </siteMapNode>
</siteMap>

