@{
    ViewBag.Title = "管理页面";
    ViewBag.NavActive = 0;//设置导航激活
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar" id="manage-sidebar">
                <li class="active">
                    <a>管理中心 </a>
                </li>
                <li>
                    <a href="#">文章管理</a>
                </li>
                <li>
                    <a href="#">分类管理</a>
                </li>
                <li>
                    <a href="#">教程管理</a>
                </li>
                <li>
                    <a href="#">产品管理</a>
                </li>
            </ul>
            <ul class="nav nav-sidebar">
                <li>
                    <a href=""></a>
                </li>
                <li>
                    <a href=""></a>
                </li>
                <li>
                    <a href=""></a>
                </li>
                <li>
                    <a href=""></a>
                </li>
                <li>
                    <a href=""></a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/manage")
}