@model yanzhilong.Models.TutorialsModel
@{
    ViewBag.Title = Model.Title;
    ViewBag.NavActive = 2;//设置导航激活
}

<!-- 教程详情 -->
<div class="container">
    <!-- 路径导航 -->

    <!-- 底部布局 -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <nav class="sidebar-nav hidden-print hidden-xs hidden-sm">
                    <ul class="nav sidebar-ul">
                        <!-- 导航开始 -->
                    </ul>
                </nav>
            </div>

            <div class="col-md-9">
                @Html.Raw(HttpUtility.HtmlDecode(@Model.Content))
            </div>
        </div>
    </div>
</div>

@section scripts{
@*@Scripts.Render("~/bundles/tutorials_details")*@
<script>

    /* 设置上下的位移 */
    $('.sidebar-nav').affix({
        offset: {

            //防止在有顶部页面及其它内容的时候一开始就直接定位到上边距
            top: $('.sidebar-nav').offset().top - 29,

            //防止到达底部了，导航条还跟着下来
            bottom: ($('footer').outerHeight(true) +
                $('.application').outerHeight(true)) + 40
        }
    });
    var allh = new Array();
    
    jQuery(function () {

        function makeSildebar(h, hcurrent,prent) {
            
            var lis = "";
            var h_one = [];
            if (h.length > 0) {
                h_one.push(h);
            }
            var h_other = null;
            h_other = h.nextUntil(prent,hcurrent);//查看后面所有同极标题
            var h_array = h_one;//存放当前所有的同极标题
            if (h_other.length > 0) {
                h_array = h_one.concat(h_other);
            }
            //遍历度查找所有的子级元素
            var hnext = getchild(hcurrent);
            $.each(h_array, function (index, domEle) {

                var parli = "";
                parli = "<li>";

                //				alert(index)
                var idvalue = h_array[index].attr("id")
                //				alert(idvalue)
                //				var title = $(this).children("h2").length
                var title = h_array[index].text();
                //				alert(title)
                parli += "<a href=\"#" + idvalue + "\">" + title + "</a>"

                var ul = "";

                allh.push(h_array[index].text());
                if (hnext != null) {

                    var first = h_array[index].nextUntil(hcurrent, hnext + ":first");
                    if (first.length > 0) {

                        ul = "<ul class=\"nav\">";

                        var childlis = makeSildebar(first, hnext, hcurrent);

                        ul += childlis;

                        ul += "</ul>"
                    }
                   
                }

                parli += ul;
                parli += "</li>"
                lis += parli;
            });
            
            if (1 > 0) {
                return lis;
            }

            var h_array = h_one.concat(h.siblings(hcurrent));
            var hhh1 = h.siblings();//查看所有同极元素
            
            h.children("h1,h2,h3,h4,h5,h6").each(function (index) {

                var parli = "";
                parli = "<li>";

                //				alert(index)
                var idvalue = $(this).attr("id")
                //				alert(idvalue)
                //				var title = $(this).children("h2").length
                var title = $(this).text()
                //				alert(title)
                parli += "<a href=\"#" + idvalue + "\">" + title + "</a>"

                //				alert(idvalue)
                //判断是否还有子元素
                var childrens = $(this).children("h1,h2,h3,h4,h5,h6");
                var chilcount = childrens.length;
                //				alert(chilcount)
                // 有子元素，添加下级ul
                var ul = "";
                if (chilcount > 0) {

                    ul = "<ul class=\"nav\">"

                    var childlis = makeSildebar($(this));
                    ul += childlis;

                    ul += "</ul>"
                }
                parli += ul;
                parli += "</li>"
                lis += parli;
            });
           // return lis;
        }

        function makeSildebar_ok(h, hcurrent, prent) {

            var h_one = [];
            if (h.length > 0) {
                h_one.push(h);
            }
            var h_other = null;
            h_other = h.nextUntil(prent, hcurrent);//查看后面所有同极标题
            var h_array = h_one;//存放当前所有的同极标题
            if (h_other.length > 0) {
                h_array = h_one.concat(h_other);
            }
            //遍历度查找所有的子级元素
            var hnext = getchild(hcurrent);
            $.each(h_array, function (index, domEle) {
                allh.push(h_array[index].text());
                if (hnext != null) {
                    makeSildebar(h_array[index].nextUntil(hcurrent, hnext + ":first"), hnext, hcurrent);
                }
            });
        }

        function getchild(h) {
            if (h == "h1") {
                return "h2";
            }else if (h == "h2") {
                return "h3";
            } else if (h == "h3") {
                return "h4";
            } else if (h == "h4") {
                return "h5";
            } else if (h == "h5") {
                return "h6";
            } else {
                return null;
            }
        }
        //makeSildebar_ok($("div.col-md-9:first h1:first"), "h1", "");
        $("ul.sidebar-ul").append(makeSildebar($("div.col-md-9:first h1:first"), "h1",""));

        //$("div.col-md-9:first").children("h1,h2,h3,h4,h5,h6").each(function (index) {

        //    var parli = "";
        //    parli = "<li>";
        //    var idvalue = $(this).attr("id")
        //    var title = $(this).find("h2:first").text()
        //    parli += "<a href=\"#" + idvalue + "\">" + title + "</a>"

        //    //				alert(idvalue)
        //    //判断是否还有子元素
        //    var childrens = $(this).children("section")
        //    var chilcount = childrens.length
        //    // 有子元素，添加下级ul
        //    var ul = "";
        //    if (chilcount > 0) {

        //        ul = "<ul class=\"nav\">"

        //        var childsection = $(this).children("section");
        //        var li = "";
        //        childsection.each(function (dex) {

        //            li = "<li>";

        //            var idvalue = $(this).attr("id")
        //            var title = $(this).children("h2").length
        //            var title = $(this).find("h3:first").text()
        //            li += "<a href=\"#" + idvalue + "\">" + title + "</a>"

        //            li += "</li>"
        //            ul += li

        //        })
        //        ul += "</ul>"
        //    }
        //    parli += ul;
        //    parli += "</li>"
        //    $("ul.sidebar-ul").append(parli);

        //})
    })

    ! function (a) {
        a(function () {
            c = a(document.body);
            c.scrollspy({
                target: ".sidebar-nav"
            })
        })
    }(jQuery);
	
</script>
}