@model IEnumerable<yanzhilong.Models.ActicleCount>

<ol class="list-unstyled">
   
    @foreach (var item in Model)
    {
        <li>@Html.ActionLink(item.category.Name, "Category", "Article",new { CategoryID = item.category.CategoryID },null)<span>(@item.Count)</span></li>
    }
</ol>