<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <!-- 配置连接需要的参数 -->
  <properties>
    <property key="server" value="localhost" />
    <property key="username" value="root" />
    <property key="password" value="" />
    <property key="database" value="yanzhilong" />    
  </properties>

  <!-- 数据库相关设置 -->
  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>

  <!-- 配置数据库连接字符串 -->
  <database>
    <provider name="MySql" />
    
    <dataSource name="iBatisNet" connectionString="Server=${server};Database=${database};UserName=${username};Password=${password};CharSet=utf8;"/>

  </database>
  
  <!-- 配置数据库和实体类的配置文件 -->
  <sqlMaps>
    <sqlMap embedded="MapFiles.Article.xml, yanzhilong" />
    <sqlMap embedded="MapFiles.Category.xml, yanzhilong" />
    <sqlMap embedded="MapFiles.User.xml, yanzhilong" />
    <sqlMap embedded="MapFiles.ViewTotal.xml, yanzhilong" />
    <sqlMap embedded="MapFiles.UploadFile.xml, yanzhilong" />
    <sqlMap embedded="MapFiles.SxColor.xml, yanzhilong" />
    <sqlMap embedded="MapFiles.SxImage.xml, yanzhilong" />
    <sqlMap embedded="MapFiles.SxMainImage.xml, yanzhilong" />
    <sqlMap embedded="MapFiles.SxProperty.xml, yanzhilong" />
    <sqlMap embedded="MapFiles.SxShoe.xml, yanzhilong" />
    <sqlMap embedded="MapFiles.SxSsize.xml, yanzhilong" />
    <sqlMap embedded="MapFiles.TbProperty.xml, yanzhilong" />
    <sqlMap embedded="MapFiles.TbPropertyCategory.xml, yanzhilong" />
    <sqlMap embedded="MapFiles.TbItem.xml, yanzhilong" />
    <sqlMap embedded="MapFiles.TbPropertyMapping.xml, yanzhilong" />
    <sqlMap embedded="MapFiles.Role.xml, yanzhilong" />
    <sqlMap embedded="MapFiles.RolePermissionRecord.xml, yanzhilong" />
    <sqlMap embedded="MapFiles.PermissionRecord.xml, yanzhilong" />
    <sqlMap embedded="MapFiles.UserRole.xml, yanzhilong" />
    <sqlMap embedded="MapFiles.JdAuto.xml, yanzhilong" />
    <sqlMap embedded="MapFiles.JdItem.xml, yanzhilong" />
    <sqlMap embedded="MapFiles.JdAutoPropertyValue.xml, yanzhilong" />

  </sqlMaps>

</sqlMapConfig>