@model yanzhilong.Models.Product
@{
    ViewBag.Title = Model.Name;
    ViewBag.NavActive = 3;//设置导航激活
}

<!-- 教程详情 -->
<div class="container">
    <!-- 路径导航 -->
    @*<div class="row">
        <div class="col-sm-12">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="#">产品中心</a></li>
                    <li class="active">@Model.Name</li>
                </ol>
            </div>
        </div>
    </div>*@

    <!-- 底部布局 -->
    <div class="container product-main">
        <div class="row">
            @Html.Raw(HttpUtility.HtmlDecode(@Model.Content))
        </div>
    </div>
</div>