@model UploadFileModel
@{
    ViewBag.Title = "文件管理";
    ViewBag.HeaderTitle = "文件管理";
    ViewBag.ActiveMenuItemSystemName = "UploadFile";
}

@section Head{
    <style type=text/css>

        /* 单行模式 */
        .k-grid td {
            white-space: nowrap;
        }
</style>
}

@section HeadRight{
    
}



<div class="panel panel-default">
    <div id="grid"></div>
    <script>

        $(document).ready(function () {
            var ReadUrl = "@(Request.Url.GetLeftPart(UriPartial.Authority) + Url.Action("List", "File"))";
            var UpdateUrl = "@(Request.Url.GetLeftPart(UriPartial.Authority) + Url.Action("Update", "File"))";
            var DestroyUrl = "@(Request.Url.GetLeftPart(UriPartial.Authority) + Url.Action("Delete", "File"))",

            dataSource = new kendo.data.DataSource({
                transport: {
                    read:  {
                        url: ReadUrl,
                        dataType: "jsonp"
                    },
                    update: {
                        url: UpdateUrl,
                        dataType: "jsonp"
                    },
                    destroy: {
                        url: DestroyUrl,
                        dataType: "jsonp"
                    },
                    parameterMap: function (options, operation) {

                        if (operation !== "read" && options.models) {
                            return {models: kendo.stringify(options.models)};
                        }
                    }
                },
                batch: true,
                pageSize: 20,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, nullable: true },
                            SaveName: { editable: false, validation: { required: true } },
                            UploadName: { validation: { required: true } },
                            Url: { editable: false, validation: { required: true } },
                            TypeStr: { editable: false }
                        }
                    }
                }
            });

            function dataSource_error(e) {
                var responsejson = e.xhr.responseText;
                alert(e.status);
            }

            $("#grid").kendoGrid({
                dataSource: dataSource,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                toolbar: ["create"],
                columns: [
                    { field: "SaveName", title: "保存名称" },
                    { field: "UploadName", title: "上传名称" },
                    { field: "Description", title: "描述"},
                    { field: "Url", title: "网址" },
                    { field: "TypeStr", title: "类型", width: "80px"},
                    { command: ["edit", "destroy"], title: "&nbsp;", width: "350px" }
                ],
                editable: "popup"
            });
        });
    </script>
</div>
