@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!-- 引用 移动设备优先设置项-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>严志龙的网站-文章中心</title>

    <!--<link rel="stylesheet" href="css/bootstrap.min.css" />
    <script type="application/javascript" src="js/jquery.min.js"></script>
    <script type="application/javascript" src="js/bootstrap.min.js"></script>
    -->
    <!-- include libraries(jQuery, bootstrap) -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

    <!-- include summernote css/js-->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.js"></script>
    

    <!-- 内部样式表 -->
    <style type="text/css">

    </style>

    <!-- 内部javascript -->
    <script>

			function uploadError(responst){
				alert("上传失败" + responst);
			}

			$(document).ready(function() {

			  	var placeholder = $("#summernote").attr("placeholder") || '';//设置输入提示
				var url = $("#summernote").attr("action") || '';//设置上传图片的url
				$("#summernote").summernote({
				    lang: 'zh-CN',
				    placeholder: placeholder,
				    minHeight: 300,
				    dialogsFade: true,// 设置滑动效果Add fade effect on dialogs
				    dialogsInBody: true,// 设置窗口显示位置Dialogs can be placed in body, not in
				    disableDragAndDrop: false,//设置拖拽
				    callbacks: {
				        onImageUpload: function (files) {
				            $(files).each(function () {
				                var file = this;
				                var data = new FormData();
				                data.append("file", file);
				                //ajax上传图片
				                $.ajax({
				                    url: url,
				                    type: "post",
				                    data: data,
				                    dataType: "json",
				                    cache: false,
				                    contentType: false,
				                    processData: false,
				                    success: function (response) {
				                        alert(response.responseText);
				                        var jsonObj = JSON.parse(response);  // JSON.parse(); 方法
				                        alert("成功" + jsonObj.result);
				                        var jsonObj = JSON.parse(response);  // JSON.parse(); 方法
				                        var imgNode = document.createElement('img');
				                        imgNode.setAttribute('src', jsonObj.result);
				                        $("#summernote").summernote('insertNode', imgNode);
				                    },
				                    error: function (response) {
				                        alert("失败");
				                    }
				                });
				            });
				        }
				    }
				});
			});

    </script>
</head>

<body>

    <div class="container">

        <div id="summernote" placeholder="请输入" action="http://localhost:61836/File/Upload"></div>
    </div>



</body>

</html>