@{
    ViewBag.Title = "权限拒绝";
    ViewBag.HeaderTitle = "权限拒绝";
    ViewBag.ActiveMenuItemSystemName = "Home";
}

@section Head{

}

@section HeadRight{

}



<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">无访问权限</h3>
    </div>
    
</div>
